div.modal-dialog {
    max-width: 700px;
}

.checkbox-col {
    padding-top: 15px;

    label {
        height: 100%;
        vertical-align: top;
        margin-top: 9px;
        margin-right: 10px;
    }
}